@model IEnumerable<AspNetMvcHomework1.Domain.Core.BasicModels.SimpleReview>
@Html.ValidationSummary("", new { @class = "myValidation" })
<section class="feedbackForm">
    <form method="post">
        <hr />
        <div class="form-group">
            <label for="inputName">Your name</label>
            <input type="text" class="form-control" name="inputName" id="inputName" placeholder="Enter your name(A-z) 2-30 chars" required pattern="[A-Za-z]{2,}" minlength="2" maxlength="30" />
        </div>
        <div class="form-group">
            <label for="inputReview">Your review</label>
            <textarea class="form-control" name="inputReview" id="inputReview" placeholder="Enter your opinion" required pattern="[A-Za-z]{20,}" minlength="20" maxlength="255"></textarea>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary">SUBMIT</button>
        </div>
        <div class="form-group">
            @Html.Hidden("PostedAt", DateTime.Now)
        </div>
    </form>
    <hr />
</section>
<section class="reviwes">
    <div class="reviewsHeader text-center">
        <h2>Reviews</h2>
    </div>
    @Helpers.DisplayReviews(Model)
</section>
<hr />
