@{
    ViewBag.Title = "Contact";
}
<section class="feedbackForm">
    <form method="post">
        <hr />
        <div class="form-group">
            <label for="inputName">Your name</label>
            <input type="text" class="form-control" id="inputName" placeholder="Enter your name" />
        </div>
        <div class="form-group">
            <label for="inputReview">Your review</label>
            <textarea class="form-control" id="inputReview" placeholder="Enter your opinion"></textarea>
        </div>
        <div class="text-center">
        <button type="submit" class="btn btn-primary">SUBMIT</button>
            </div>
    </form>
    <hr />
</section>
<section class="reviwes">
    <div class="reviewsHeader text-center">
        <h2>Reviews</h2>
    </div>
    <article class="row reviewSection">
        <div class="author col-12 col-md-4 col-xl-2">
            <img class="rounded" src="~/Content/Images/Avatar.jpg" alt="Author image" />
            <p class="reviewDate">2019</p>
            <p class="reviewAuthor">Dungeon Master</p>
        </div>
        <div class="authorText col-12 col-md-8 col-xl-10">
            <p>It was a very impressve Show, Thank you a lot!</p>
        </div>
    </article>
    <article class="row reviewSection">
        <div class="authorText col-12 col-md-8 col-xl-10">
            <p>You are so talanted!</p>
        </div>
        <div class="author col-12 col-md-4 col-xl-2">
            <img class="rounded" src="~/Content/Images/Avatar.jpg" alt="Author image" />
            <p class="reviewDate">2019</p>
            <p class="reviewAuthor">Dungeon Master</p>
        </div>
    </article>
</section>
