@model IEnumerable<AspNetMvcHomework1.Domain.Core.BasicModels.SimpleArticle>
@{
    ViewBag.Title = "Home Page";
}
@foreach (AspNetMvcHomework1.Domain.Core.BasicModels.SimpleArticle article in Model)
{
<article>
    <header class="articleHeader text-center">
        <span class="articleTitle">@article.Topic</span>
    </header>
    <p class="articlePublished">Published at: @article.PublishedAt</p>
    <hr />
    <div class="articleBody">
    <p class="text-justify">
        <p><small>@article.ShortDescription</small></p>
        @article.Content
    </p>
    </div>
</article>
}